language: node_js
node_js:
  - "stable"
install:
  - npm i
script:
  - npm run build
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  local-dir : './build'
  on:
    branch: master
